.header {
    background-color: var(--corPrincipal);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 180px 0 40px;
    margin-bottom: 80px;
}


.avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid var(--corSecundaria);
}

.name {
    font-size: 18px;
    color: var(--corSecundaria);
}

/* Estilos para o container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Preenche a tela */
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    }
  /* Estilos para o campo de input */
    .form {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    }

    .form:focus {
    border-color: #007bff; /* Azul chamativo ao focar */
    }

  /* Estilos para o botão */
    button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    }

    button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Aumenta levemente ao passar o mouse */
    }

  /* Estilos para o título */
    h4 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
    }

  /* Para garantir que o conteúdo não fique colado nas laterais */
    body {
    margin: 0;
    padding: 0;
    }
